<head>
    <title>JobSpot</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link name="favicon" type="image/x-icon" th:href="@{/assets/favicon.ico}" rel="shortcut icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/app.js}" type="module" defer></script>
</head>