:root {
    --green: #17494d;
    --green-light: #06615a;
    --text: #03363d;
    --muted: #636d77;
    --text: #253914;
    --blue: #1f73b7;
}

body {
    font-size: 14px;
    min-height: 100vh;
    color: var(--text);
}

.text-sec-heading {
    font-family: 'Playfair Display', serif;
}

.btn {
    display: inline-flex;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--green) !important;
    padding: 0px 24px;
    height: 40px;
    line-height: 39px;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: var(--green-light) !important;
}

.input {
    background-color: #fff;
    border: 1px solid #c4cfde;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333e49;
    font-size: 14px;
    height: 39px;
    outline: none;
    padding: 10px;
    transition: border-color .2s ease-in;
    width: 100%;
}

.input:focus {
    border-color: var(--muted);
}

textarea {
    resize: none !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' width='16' fill='currentColor' viewBox='0 0 448 512'><path d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/></svg>");
    background-repeat: no-repeat;
    background-position: top 12px right 6px;
}

.alert {
    padding: 0.7rem;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}
.alert.success, .badge.green {
    background: #f2fAf7;
    border-color: #84e1bc;
    color: #03543f;
}
.alert.danger, .badge.red {
    background: #fdf2f2;
    border-color: #f8b4b4;
    color: #9b1c1c;
}

.sidebar-menu > a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.sidebar-menu > a > i {
    opacity: 0.6;
}
.sidebar-menu > a > .tooltip {
    position: absolute;
    top: 0;
    left: 52px;
    font-size: 12px;
    padding: 3px 5px;
    color: #d2d1d2;
    background: #232324;
    border-radius: 4px;
    line-height: 1.4;
    display: none;
}
.sidebar-menu > a:hover > i, .sidebar-menu > a.active > i {
    opacity: 1;
}
.sidebar-menu > a:hover > .tooltip {
    display: block;
}

table {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}
tr {
    height: 48px;
}
tr.data-row {
    border-bottom: 1px solid #d8dcde;
    transition: background-color 0.1s ease-in-out 0s;
}
tr:hover.data-row {
    border-bottom-color: #cee2f2;
    background-color: rgba(31, 115, 183, 0.08);
}
th {
    padding: 0px 12px;
    display: table-cell;
    text-align: left;
    font-weight: 600;
    background-color: white;
    position: sticky;
    top: 0px;
    vertical-align: middle;
    z-index: 1;
}
th::before {
    background-color: #d8dcde;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    right: 0px;
}
td {
    display: table-cell;
    box-sizing: border-box;
    padding: 10px 12px;
    text-overflow: ellipsis;
    vertical-align: middle;
}
td .badge {
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    border-width: 1px;
    border-style: solid;
}

.bullet::before {
    content: "";
    background-color: var(--muted);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.4rem;
    width: 2.5px;
    height: 2.5px;
    border-radius: 50%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer-overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(0,0,0,0.6);
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;
    opacity: 1;
}
.drawer-root {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 20;
    width: 100%;
    transform: translateX(100%);
}
.drawer-content {
    padding: 24px;
    width: 500px;
    height: 100%;
    background-color: #fff;
}
.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
    padding-bottom: 12px;
}
.drawer-header button {
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 4px 5px;
    border-radius: 2px;
}
.drawer-header button:hover {
    background: rgb(248, 249, 250);
}
.drawer-header h1 {
    font-size: 18px;
    font-weight: 600;
}

#company-details i {
    margin-right: 8px;
    transition: transform 200ms ease-in, opacity 200ms ease-in, -webkit-transform 200ms ease-in;
    opacity: 0;
}
#company-details:hover i {
    transform: translateX(4px);
    opacity: 1;
}

.profile-menu {
    /*visibility: hidden;*/
    /*opacity: 0;*/
}
.profile-menu-btn:hover {
    cursor: pointer;
}
.profile-menu-btn:hover .profile-menu {
    visibility: visible;
    transition: visibility 200ms linear, opacity 150ms linear;
    opacity: 1;
}
.profile-menu ul::before, .profile-menu ul::after {
    top: -3.65685px;
    right: 11.3137px;
    position: absolute;
    transform: rotate(45deg);
    background-color: inherit;
    box-sizing: inherit;
    width: 11.3137px;
    height: 11.3137px;
    content: "";
}
.profile-menu ul::after {
    z-index: -1;
    border: inherit;
    box-shadow: inherit;
}
.profile-menu ul::before {
    border-bottom-right-radius: 100%;
    clip-path: polygon(100% 0px, 100% 1px, 1px 100%, 0px 100%, 0px 0px);
    border-width: inherit;
    border-style: inherit;
    border-color: transparent;
    background-clip: content-box;
}
.profile-menu li:not(.sep):hover {
    background-color: rgba(31, 115, 183, 0.08);
}