<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head" :: head></head>
<body>
    <!-- Header -->
    <header class="h-16 border-b border-solid border-slate-200 px-6 flex items-center">
        <img th:src="@{/assets/logo.svg}" alt="Jobspot" class="mr-auto h-8"/>
        <a class="font-semibold text-slate-900 mx-4" href="/auth/login/candidate">Log In</a>
        <a class="btn" href="/auth/signup/candidate">Sign Up</a>
    </header>
    <main>
        <div class="mt-10 flex px-16 mx-4">
            <div class="flex flex-1 flex-col">
                <h1 class="text-7xl font-bold text-sec-heading mb-4">How work <br /> should work</h1>
                <p class="text-xl text-uppercase mb-5 tracking-wide font-medium">Forget the old rules. You can have the best company.<br />Right now. Right here.</p>
                <!-- Job Search Form -->
                <div class="mt-10">
                    <form method="get" th:action="@{/search}">
                        <input class="input w-[500px] block h-14 p-4 mb-3" type="text" placeholder="Data Analyst / Google / Delhi" name="q" />
                        <input class="btn" type="submit">
                    </form>
                </div>
            </div>
            <div class="w-[440px]">
                <img th:src="@{/assets/people.jpeg}" alt="Jobspot" class="w-full h-auto"/>
            </div>
        </div>
    </main>

    <div class="h-64"></div>    <div class="h-64"></div>
    <div class="h-64"></div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>