<!-- Alerts -->
<div th:if="${HasAlertDanger}" class="alert danger my-6">
    <i class="fa-solid fa-circle-info mr-1"></i>
    <span th:text="${AlertValue}"></span>
</div>

<!-- Content -->
<div class="mt-10 mb-4">
   <a th:href="@{/company/dashboard/applications}" class="text-[--blue] hover:underline">Applications</a>
   <span class="mx-1">/</span>
   <sapn th:text="${jobId}"></sapn>
</div>
<div class="w-3/4" th:if="${Job}">
    <h1 th:text="${Job.title}" class="font-medium text-xl mb-2"></h1>
    <p class="mb-2 text-[--muted]">
        <span th:text="${Job.location}"></span>
        (<span th:text="${Job.type.displayValue}"></span>)
        <span class="bullet" th:text="${Job.createdAt}" data-js="xTime"></span>
        <span class="bullet">Over 200 applicants</span>
    </p>
    <div class="my-3">
        <div class="mb-2"><i class="fa-solid fa-suitcase mr-2"></i>
            <span th:text="${Job.tenure.displayValue}"></span>
            (<span th:text="${Job.experienceLevel.displayValue}"></span>)
            <span class="bullet" th:text="${Job.category.displayValue}"></span>
        </div>
        <div><i class="fa-regular fa-calendar-check mr-2"></i><span th:text="${Job.openTill}"></span></div>
    </div>
    <button class="btn my-2" id="jsViewApplications">View Applications</button>
    <h1 class="font-medium text-lg my-2">About the job</h1>
    <p id="jdJobDescription" class="my-3 overflow-auto text-justify" style="max-height: 300px"></p>
    <script th:inline="javascript">
        const description = /*[[${Job.Description}]]*/ '';
        document.getElementById("jdJobDescription").innerHTML = description.replace(/\n/g, "<br>");
    </script>
</div>

