<div class="top-[50px] left-[64px] absolute right-0 block bottom-0 overflow-auto z-0">
   <div class="flex flex-col mt-10 px-[50px] overflow-hidden">
      <div>
         <h1 class="text-2xl font-normal pb-1">Jobs</h1>
         <div class="pb-0.5">Post a new job</div>
         <div class="text-[--blue] hover:underline cursor-pointer leading-none">Guidelines for posting a new job</div>
      </div>
      <div class="mt-10 mb-4 w-3/5">

         <!-- Success Message -->
         <div th:if="${HasAlertSuccess}" class="alert success my-3 ">
            <i class="fa-solid fa-circle-info mr-1"></i>
            Job saved with reference id
            <a class="underline cursor-pointer" th:text="${AlertValue}" th:href="@{/company/dashboard/applications/{jobId}(jobId=${AlertValue})}"></a>
         </div>

         <form class="w-full" method="post" th:action="@{/company/dashboard/jobs}" th:object="${JobPosting}">
            <div class="mb-4 flex">
               <div class="basis-1/2 pr-5">
                  <label class="block mb-2 font-medium">Title</label>
                  <div class="relative">
                     <input th:field="*{title}" name="title" class="input" type="text"  required>
                  </div>
                  <p th:errors = "*{title}" th:if="${#fields.hasErrors('title')}" class="mt-1 text-red-400"></p>
               </div>
               <div class="basis-1/2 pl-5">
                  <label class="block mb-2 font-medium">Category</label>
                  <div class="relative">
                     <select th:field="*{category}" name="category" class="input"  required>
                        <option th:each="category : ${T(com.app.jobspot.enums.JobCategoryEnum).values()}"
                                th:value="${category}"
                                th:text="${category.displayValue}">
                        </option>
                     </select>
                  </div>
                  <p th:errors = "*{category}" th:if="${#fields.hasErrors('category')}" class="mt-1 text-red-400"></p>
               </div>
            </div>
            <div class="mb-4 flex">
               <div class="basis-1/2 pr-5">
                  <label class="block mb-2 font-medium">Location</label>
                  <div class="relative">
                     <input th:field="*{location}" name="logo" class="input" type="text"  required>
                  </div>
                  <p th:errors = "*{location}" th:if="${#fields.hasErrors('location')}" class="mt-1 text-red-400"></p>
               </div>
               <div class="basis-1/2 pl-5">
                  <label class="block mb-2 font-medium">Type</label>
                  <div class="relative">
                     <select th:field="*{type}" name="category" class="input"  required>
                        <option th:each="type : ${T(com.app.jobspot.enums.JobTypeEnum).values()}"
                                th:value="${type}"
                                th:text="${type.displayValue}">
                        </option>
                     </select>
                  </div>
                  <p th:errors = "*{type}" th:if="${#fields.hasErrors('type')}" class="mt-1 text-red-400"></p>
               </div>
            </div>
            <div class="mb-4 flex">
               <div class="basis-1/3">
                  <label class="block mb-2 font-medium">Experience Level</label>
                  <div class="relative">
                     <select th:field="*{experienceLevel}" name="companySize"  class="input"  required>
                        <option th:each="exp : ${T(com.app.jobspot.enums.JobExperienceLevelEnum).values()}"
                                th:value="${exp}"
                                th:text="${exp.displayValue}">
                        </option>
                     </select>
                  </div>
                  <p th:errors = "*{experienceLevel}" th:if="${#fields.hasErrors('experienceLevel')}" class="mt-1 text-red-400"></p>
               </div>
               <div class="basis-1/3 pl-5">
                  <label class="block mb-2 font-medium">Tenure</label>
                  <div class="relative">
                     <select th:field="*{tenure}" name="companySize"  class="input"  required>
                        <option th:each="tenure : ${T(com.app.jobspot.enums.JobTenureEnum).values()}"
                                th:value="${tenure}"
                                th:text="${tenure.displayValue}">
                        </option>
                     </select>
                  </div>
                  <p th:errors = "*{tenure}" th:if="${#fields.hasErrors('tenure')}" class="mt-1 text-red-400"></p>
               </div>
               <div class="basis-1/3 pl-5">
                  <label class="block mb-2 font-medium">Open Till</label>
                  <div class="relative">
                     <input th:field="*{openTill}" name="openTill" type="date" class="input"  pattern="\d{2}-\d{2}-\d{4}">
                  </div>
                  <p th:errors = "*{openTill}" th:if="${#fields.hasErrors('openTill')}" class="mt-1 text-red-400"></p>
               </div>
            </div>
            <div class="mb-4">
               <label class="block mb-2 font-medium">Description</label>
               <div class="relative">
                  <textarea th:field="*{description}" name="description" class="input h-full" rows="5" required></textarea>
               </div>
               <p th:errors = "*{description}" th:if="${#fields.hasErrors('description')}" class="mt-1 text-red-400"></p>
            </div>
            <div class="mt-4">
               <input type="submit" value="Create" class="btn">
            </div>
         </form>
      </div>

   </div>
</div>